.main-header {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 2px 6px rgba(145, 110, 110, 0.26);
  z-index: 5;
  justify-content: space-around;
}

#center > .hp_quote{
  position: fixed;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

#center > .text_container {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .main-header {
    justify-content: space-between;
    padding: 0 1rem;
  }
}


@media (max-width: 350px) {
  .main-header {
    padding: 0 1rem;
  }
}

