.container {
  min-width: 30%;
  margin: 0 auto;
  display: grid;
  grid-gap: 1.1rem;
  margin-top: 25px;
}

.card {
  position: relative;
  margin: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  padding: 1rem;
  overflow: hidden;
  background: white;
  list-style-type: none;
  background-color: #ebeef0;
  color: #f25cc1;
}

.card:hover {
  transform: scale(1.02);
}

.list-button {
  background: #e535ab;
  font: inherit;
  padding: 0.5rem 3rem;
  border: none;
  box-shadow: 0 3px 0 0 darken( #e535ab, 10%);
  border-radius: 4px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin: 2rem auto;
  font-size: 1.5rem;
  line-height: 1.5em;
}

.list-button:hover {
    background: rgba(148,175,101,1);
}

.card-span {
  color: #5A6270;
}


@media (min-width: 1200px) {
   .container {
    width: 30%;
    grid-template-columns: 1fr 1fr;
  }
}


@media (max-width: 1200px) and (min-width: 900px) {
   .container {
    width: 50%;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) and (min-width: 700px) {
   .container {
    width: 40%;
  }
}

@media (max-width: 700px) and (min-width: 450px) {
   .container {
    width: 40%;
  }
}

@media (max-width: 450px) {
  .container {
    width: 70%;
  }
}
