* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
